
<div class="footer">
    <div class="fcontent">
        <p>Home</p>
        <p>Contact</p>
        <p>Buy</p>
    </div>

    <div class="scontent">
        <div class="shoptxt">
            <ul>
                <p>Shop</p>
                <li>FAQ</lI>
                <li>Store Policy</lI>
                <li>Payment Metgods</lI>
            </ul>
        </div>
    </div>

    <div class="social-content">
        <div class="socialtxt">
            <ul>
                <p>Socials</p>
                <li>Facebook</lI>
                <li>Twitter</lI>
                <li>Instergram</lI>
            </ul>
        </div>
    </div>
</div>